    
    
    <div class="section">
    <div class="columns is-centered" id="login_form">

    <h2 >Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="field">
  <div class="control">

        <%= f.input :username,
                required: true,
                autofocus: true,     
     input_html: { autocomplete: "username",class:"input ml-2 " }%>   
       </div>
                </div>
  <div class="field">
  <div class="control">
         <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" ,class:"input ml-2" }%> 
                </div>
                </div>
                  <div class="field">
  <div class="control">        
    <%= f.input :password,
                required: true,
                input_html: { autocomplete: "new-password",class:"input ml-2"  } %>
                  </div>
                </div>
                  <div class="field">
  <div class="control">
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password",class:"input ml-2"  } %>
    </div>
                </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up",class:"button is-info",id:"btn_up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
