<ul class="menu_items">

<li class="menu_item is-inline "> 
<a href="<%= tweets_path%>"> 

<i class="fa fa-home" aria-hidden="true"></i><span class="ml-3  d-none d-lg-inline">Home</span>

</a>

</li>

<li class="menu_item is-inline"> 


<a href="<%= tweets_path%>"> 

<i class="fa fa-hashtag" aria-hidden="true"></i></i><span class="ml-3  d-none  d-lg-inline">Explore</span>

</a>

</li>

<li class="menu_item is-inline"> 

<a href="<%= tweets_path%>"> 

<i class="fa fa-bell" aria-hidden="true"></i></i><span class="ml-3    d-none  d-lg-inline">Notifications</span>

</a>
</li>

<li class="menu_item is-inline"> 

<a href="<%= tweets_path%>"> 

<i class="fa fa-envelope-o" aria-hidden="true"></i></i><span class="ml-3  d-none  d-lg-inline">Messages</span>

</a>
</li>

<li class="menu_item is-inline"> 
<a href="<%= tweets_path%>"> 

<i class="fa fa-user" aria-hidden="true"></i></i><span class="ml-3   d-none  d-lg-inline">Profile</span>

</a>
</li>

<li class="menu_item is-inline"> 
<a href="<%= tweets_path%>"> 

<i class="fa fa-ellipsis-h" id="ellipse" aria-hidden="true"></i><span class="ml-3  d-none   d-lg-inline">More</span></a>
</li>
</ul>